<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Mint Factory. All rights reserved.
  </p>
 
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://twitter.com/Numeric_DFS"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      numeric
    </a>
  </p>
</footer>
